<a href="https://www.kaggle.com/code/nazarmohammed/data-wrangling-01?scriptVersionId=127823136" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
patients = pd.read_csv("/kaggle/input/oral-insulin/patients.csv")
treatment = pd.read_csv("/kaggle/input/oral-insulin/treatments.csv")
adverse = pd.read_csv("/kaggle/input/adverse/adverse_reactions.csv")

# Data Cleaning Process
1. Contact includes phone number along with GmailId.
2. Address column has 12 missing values.
3. City column has 12 missing values.
4. State column has 12 missing values.
5. Zip code column has 12 missing values.
6. Country column has 12 missing values.
7. Contact column has 12 missing values.

In [3]:
print(patients.shape)
print(treatment.shape)
print(adverse.shape)

(503, 14)
(280, 7)
(34, 3)

In [4]:
patients.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1

In [5]:
patients.isnull().sum()

patient_id       0
assigned_sex     0
given_name       0
surname          0
address         12
city            12
state           12
zip_code        12
country         12
contact         12
birthdate        0
weight           0
height           0
bmi              0
dtype: int64

In [6]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    float64
 8   country       491 non-null    object
 9   contact       491 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [7]:
patients[patients['address'].isnull()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
209,210,female,Lalita,Eldarkhanov,NaN,NaN,NaN,NaN,NaN,NaN,8/14/1950,143.4,62,26.2
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1

In [8]:
treatment.head(2)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97

In [9]:
treatment['hba1c_change'] = treatment['hba1c_start'] - treatment['hba1c_end']

In [10]:
treatment

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,0.43
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
...,...,...,...,...,...,...,...
275,albina,zetticci,45u - 51u,-,7.93,7.73,0.20
276,john,teichelmann,-,49u - 49u,7.90,7.58,0.32
277,mathea,lillebø,23u - 36u,-,9.04,8.67,0.37
278,vallie,prince,31u - 38u,-,7.64,7.28,0.36
279,samúel,guðbrandsson,53u - 56u,-,8.00,7.64,0.36

In [11]:
nov = treatment.drop(columns="auralin")
aur = treatment.drop(columns='novodra')

In [12]:
nov.head()

  given_name     surname    novodra  hba1c_start  hba1c_end  hba1c_change
0   veronika    jindrová          -         7.63       7.20          0.43
1     elliot  richardson  40u - 45u         7.56       7.09          0.47
2   yukitaka    takenaka  39u - 36u         7.68       7.25          0.43
3       skye  gormanston          -         7.97       7.62          0.35
4     alissa      montez  33u - 29u         7.78       7.46          0.32

In [13]:
nov.replace('-',float('nan'),inplace=True)

In [14]:
nov['novodra'].isnull()

0       True
1      False
2      False
3       True
4      False
       ...
275     True
276    False
277     True
278     True
279     True
Name: novodra, Length: 280, dtype: bool

In [15]:
nov = nov.dropna(subset=['novodra'])
nov

    given_name      surname    novodra  hba1c_start  hba1c_end  hba1c_change
1       elliot   richardson  40u - 45u         7.56       7.09          0.47
2     yukitaka     takenaka  39u - 36u         7.68       7.25          0.43
4       alissa       montez  33u - 29u         7.78       7.46          0.32
5      jasmine        sykes  42u - 44u         7.56       7.18          0.38
8        saber       ménard  54u - 54u         8.08       7.70          0.38
..         ...          ...        ...          ...        ...           ...
268     yasmin       araujo  51u - 54u         7.82       7.36          0.46
269     hiromu     horikawa  47u - 46u         7.77       7.28          0.49
271        leo       vieira  30u - 33u         7.74       7.36          0.38
272     steven          roy  41u - 43u         7.87       7.43          0.44
276       john  teichelmann  49u - 49u         7.90       7.58          0.32

[143 rows x 6 columns]

In [16]:
aur

    given_name       surname    auralin  hba1c_start  hba1c_end  hba1c_change
0     veronika      jindrová  41u - 48u         7.63       7.20          0.43
1       elliot    richardson          -         7.56       7.09          0.47
2     yukitaka      takenaka          -         7.68       7.25          0.43
3         skye    gormanston  33u - 36u         7.97       7.62          0.35
4       alissa        montez          -         7.78       7.46          0.32
..         ...           ...        ...          ...        ...           ...
275     albina      zetticci  45u - 51u         7.93       7.73          0.20
276       john   teichelmann          -         7.90       7.58          0.32
277     mathea       lillebø  23u - 36u         9.04       8.67          0.37
278     vallie        prince  31u - 38u         7.64       7.28          0.36
279     samúel  guðbrandsson  53u - 56u         8.00       7.64          0.36

[280 rows x 6 columns]

In [17]:
aur.replace('-',float('nan'),inplace=True)

In [18]:
aur.isnull().sum()

given_name        0
surname           0
auralin         143
hba1c_start       0
hba1c_end         0
hba1c_change      0
dtype: int64

In [19]:
aur = aur.dropna(subset=['auralin'])

In [20]:
aur

    given_name       surname    auralin  hba1c_start  hba1c_end  hba1c_change
0     veronika      jindrová  41u - 48u         7.63       7.20          0.43
3         skye    gormanston  33u - 36u         7.97       7.62          0.35
6       sophia        haugen  37u - 42u         7.65       7.27          0.38
7        eddie        archer  31u - 38u         7.89       7.55          0.34
9         asia       woźniak  30u - 36u         7.76       7.37          0.39
..         ...           ...        ...          ...        ...           ...
274       naja       enoksen  43u - 50u         7.98       7.59          0.39
275     albina      zetticci  45u - 51u         7.93       7.73          0.20
277     mathea       lillebø  23u - 36u         9.04       8.67          0.37
278     vallie        prince  31u - 38u         7.64       7.28          0.36
279     samúel  guðbrandsson  53u - 56u         8.00       7.64          0.36

[137 rows x 6 columns]

In [21]:
aur.describe()

       hba1c_start   hba1c_end  hba1c_change
count   137.000000  137.000000    137.000000
mean      7.999927    7.613942      0.385985
std       0.599934    0.598857      0.060201
min       7.500000    7.080000      0.200000
25%       7.660000    7.270000      0.340000
50%       7.790000    7.400000      0.380000
75%       7.970000    7.570000      0.430000
max       9.950000    9.580000      0.540000